<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Temperature Prediction</title>
  </head>
  <body>
    <!-- <h1>Project</h1> -->

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="background-color: #e3f2fd;">
      <a class="navbar-brand" href="/">Temperature Predictor</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        
      </div>
    </nav>

    <div class='container'>
      <h2 class="text-center mt-3">TEMPERATURE PREDICTION</h2>
      <form action="/" method="POST">
        <div class="form-group">
          <label for="Dcode">Enter District Code</label>
          <input type="text" class="form-control" id="Dcode" name="Dcode" placeholder="Dcode">
        </div>

        <div class="form-group">
          <label for="Mcode">Enter Mandal code</label>
          <input type="text" class="form-control" id="Mcode" name="Mcode" placeholder="Enter Mandal Code">
        </div>

        <div class="form-group">
          <label for="Dist_id">Enter District_id</label>
          <input type="text" class="form-control" id="Dist_id" name="Dist_id" placeholder="Enter District_id">
        </div>

        <div class="form-group">
          <label for="Mandal Code">Enter Mandal_code</label>
          <input type="text" class="form-control" id="Mandal Code" name="Mandal Code" placeholder="Enter Mandal_code">
        </div>

        <div class="form-group">
          <label for="CropSeason_id">Enter Season</label>
          <input type="text" class="form-control" id="CropSeason_id" name="CropSeason_id" placeholder="Enter CropSeason_id">
        </div>
        
        <div class="form-group">
          <label for="Temp_min">Enter Temperature_minimum</label>
          <input type="text" class="form-control" id="Temp_min" name="Temp_min" placeholder="Enter temp_min">
        </div>
       
        <div class="form-group">
          <label for="Humidity_min">Enter Humidity_minimum</label>
          <input type="text" class="form-control" id="Humidity_min" name="Humidity_min" placeholder="Enter humidity_min">
        </div>
 
        <div class="form-group">
          <label for="Humidity_max">Enter Humidity_maximium</label>
          <input type="text" class="form-control" id="Humidity_max" name="Humidity_max" placeholder="Enter Humidity_maximum">
        </div>


        <div class="form-group">
          <label for="Date_month">Enter Month</label>
          <input type="text" class="form-control" id="Date_month" name="Date_month" placeholder="Enter Month">
        </div>

        <div class="form-group">
          <label for="Rainfall">Enter Rainfall</label>
          <input type="text" class="form-control" id="Rainfall" name="Rainfall" placeholder="Enter Rainfall">
        </div>

        
        
        <button class="btn btn-primary">Submit</button>
      </form>
    </div>
    

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>